/* app.php画面 */
.main{
    text-align: center;
}
table{
    margin: 10px auto;
    padding: 10px 100px;
}

td{
    padding: 10px;

}

/* item_detailの画面 */
.item_detail_main{
    text-align: center; 
}

